 *{
        margin: 0px;
        padding: 0px;
        font-family: Arial, Helvetica, sans-serif;
    }
    ::-webkit-scrollbar{
            width: 0px;
            height: 0px;
            /* Tag usada para esconder a scrollbar na pagina*/
    }
    body img{

    width: 100vw;    
    }
    a{
        display: block;
        text-align: center;
        padding: 10px;
        background-color: darkred;
        color: white;
        font-weight: bold;
        text-decoration: none;
        margin-top: -5px;
    }
    a:hover{
        background-color: red;
        font-weight: bolder;
    }